body{
    background: linear-gradient(45deg, rgb(48, 42, 42), rgb(29, 24, 24) );
}
header{
    position: static;
    padding-bottom:20px;
}
.card-image{
    width: 300px;
    height: 280px;
}
main ul{
    list-style: none;
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
main li:nth-of-type(3){
    grid-column: 1 / span 2;
    width: 100%;
}
main li:nth-of-type(10){
    grid-column: 1 / span 2;
    width: 100%;
}
main ul li{
    background-color: white;
    display: flex;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    /* width: 500px; */
    /* height: 280px; */
}
.item-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.actions{
    text-align: right;
}
.actions a{
    text-decoration: none;
    color: rgb(0, 157, 255);
    padding: 6px;
    border-radius: 5px;
}
.actions a:hover{
    background-color: rgba(2, 237, 237, 0.593);
}